body{
    font-family: Arial ,sans-serif;
    background-color: hsl(240, 45%, 84%);
}
h1{
    color: hsl(9, 75%, 35%);
}
form{
    background-color: hsl(240, 52%, 81%);
    text-align: center;
    max-width: 350px;
    margin: auto ;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(240, 35%, 40%, 0.521);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(240, 46%, 70%, 0.789);
    border-radius: 5px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: hsl(256, 83%, 35%);
    font-size: 1.2em;
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(240, 42%, 55%);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}